@font-face {
  font-family: 'SatoshiFont';
  src: url('./fonts/Satoshi-Variable.ttf') format('truetype');
}
*,*:link{
    font-family: 'SatoshiFont';
    line-height: 1.06; 
    font-weight: 400;
}
a,*:link{
    color: var(--primary-color);
}
.basic-flex{
    display: flex;
    justify-content: space-between;
}
.classic-btn,.classic-container{
    background-color: var(--primary-color);
    color:white;
    border-radius: 10px;
    padding: 10px 20px;
    height: fit-content;
    width: fit-content;
    font-size: 20px;
    border: none;
    transition: all 0.3s ease-in-out;
    }   
    .classic-btn:hover{
        background-color: var(--hover-color);
        cursor:pointer;
        transform: scale(1.1);
    }
.classic-container{
    border-radius: 50px !important;
}
body{

    color: var(--text-color);
    overflow-x: hidden;
    font-family: Satoshi;
}
