<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/css/general.css">
  <link rel="stylesheet" href="/static/css/constant.css">
  <link rel="stylesheet" href="/static/css/theme.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/font-awesome/css/all.css">
  <link rel="stylesheet" href="/static/css/connexion.css">
</head>
<body>
  <main>
    <section class="main-form-connexion">
      <img src="../static/images/women.svg" class="leftImg">
      <form action="{% url 'login' %}" 
            method="post" 
            class="all-form" 
            id="allForm"
            >
        {% csrf_token %}
        <div class="header-form">
          <img src="/static/image/logo_sans_slogan.png">
          <h1>Connectez-vous à votre espace</h1>
        </div>
        {% for field in fields %}
          <div class="input-form">
            <div class="main-input">
              <input 
                type="{{field.type}}" 
                name="{{field.name}}" 
                placeholder="no"
                {% if field.required %} required {% endif %}>
              <span>{{field.label}} </span>
              <div class="{{field.icon}}"></div>
            </div>
          </div>       
        {% endfor %}
        <p  class="forget-pass">
          Mot de passe oublié
        </p>
        <button type="submit" class="classic-btn">connexion</button>
        <div style="margin: 10px;">ou</div>
        <div class="connect-google">
          <img src="/static/images/images.png" alt="">
          <div>Vous connecter avec google</div>
        </div>
        <p>Vous n'avez pas de compte ? Alors <a href="">Inscrivez-vous</a></p>
      </form>
      <img src="../static/images/men charactere.svg" class="rightImg">
    </section>
  <script>
    function soumission(e){
      e.preventDefault()
    }
  </script>
  </main>
</body>
</html>