<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/css/general.css">
  <link rel="stylesheet" href="/static/css/theme.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/font-awesome/all.css">
  <link rel="stylesheet" href="/static/css/font-awesome/">
  <link rel="stylesheet" href="/static/css/connexion.css">
</head>
<body>
  <main>
    <section class="main-form-connexion">
      <img src="../static/images/women.svg" alt="">
      <section>
        <h1>Connecter-vous à votre compte</h1>
        <div class="input-form">
          <span>Email</span>
          <div class="main-input">
            <input type="mail">
            <div class="fa-solid fa-envelope"></div>
          </div>
        </div>
        <div class="input-form">
          <span>Mot de passe</span>
        </div>
        <div class="input-form"></div>
      </section>
      <img src="../static/images/men charactere.svg" alt="">
    </section>

    
  </main>
</body>
</html>