<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/general.css">
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/landing.css">
</head>
<body>
    <header>
        <img src="/static/image/logo_sans_slogan.png" alt="logo">
        <div class="nav-bar ">
            <nav>Accueil</nav>
            <nav>Nos service</nav>
            <nav>A propos</nav>
            <nav>Nous Contacter</nav>
        </div>
        <button class="classic-btn">
            Se connectecter
        </button>
    </header>
    <main id="landingPage">
        <section class="presentation basic-flex">
            <div class="text-presentation">
                <h1>BIENVENUE SUR DOKTE</h1>
                <h3>Votre service de prescription rapide</h3>
                <p>
                    Vos avez des soucis de santé et 
                    vous souhaité réalisé un dignostique fiable 
                    et efficace alors vous êtes au bon endroit 
                    car nous arrivons avec une manière toute 
                    nouvelle de vous faire consulter bref une 
                    approche innovante pour une encardrement 
                    de qualité 
                </p>
                <button class="classic-btn">Commencer</button>
            </div>
            <img src="static/images/landing_image.png" alt="landing">
        </section>
        <section class="service">
            <div class="classic-container">Nos services</div>
            <h1>Nous vous garantissons un diagnostisque <span>fiable</span>, <span>rapide</span>  et <span>efficace</span></h1>
            <h1>Une interface <span>moderne</span> et <span>conviale</span></h1>
            <h1>Nous certifions à tout nos utilisateur la <span>sécurité</span> et <span>confidentialité</span> de la plateforme</h1>
        </section>
    </main>
</body>
</html>