.main-form-connexion{
  display: flex;
  justify-content: center;
  width: 100%;
  }
  .main-form-connexion .all-form{
    width: 35%;
    border-radius: 50px;
    border: 1px solid var(--primary-color);
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .main-form-connexion .all-form .header-form{
      display: flex;
      justify-content: center;
      align-items: center;
      }
      .main-form-connexion .all-form h1{
        font-weight: 300;
        font-size: 25px;
        color: var(--primary-color);
      }
      .main-form-connexion .all-form .header-form img{
        width: 70px;
        height: 70px;
      }
    .main-form-connexion .all-form .input-form{
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-top: 30px;
      }
      .main-form-connexion .all-form .input-form .main-input{
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 3px solid var(--primary-color);
        align-items: center;
        }
        .main-form-connexion .all-form .input-form span{
          position: absolute;
          align-self: center;
          z-index: 5;
          transition: all var(--fast-anim) ease-in-out;
        }
        .main-form-connexion .all-form .input-form .main-input input{
          width: 90%;
          height: 40px;
          border: none;
          background: none;
          outline: none;
          z-index: 10;

        }
        .main-form-connexion .all-form .input-form .main-input input:focus{
          border: none;
          box-shadow: var(--shadow-sm);
        }
        .main-form-connexion .all-form .input-form .main-input input:focus + span{
          transform: translateY(-30px);
        }
    .main-form-connexion .all-form .forget-pass{
      width: 100%;
      text-align: right;
      color: var(--primary-color);
      cursor: pointer;
      }
      .main-form-connexion .all-form .forget-pass:hover{
        text-decoration: underline;
      }
      .main-form-connexion .all-form>button{
        border-radius: 50px;
        font-size: 25px;
      }
      .main-form-connexion .all-form .connect-google{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-items: center;  
        box-shadow: var(--shadow-md);
        border-radius: var(--radius-md);
        padding: 10px;
        }
        .main-form-connexion .all-form .connect-google:hover{
          box-shadow: var(--shadow-primary);
        }
        .main-form-connexion .all-form .connect-google img{
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }

